## 15 Python tips from GIT
#  
#### Source: https://gist.github.com/Julynx/dd500d8ae7e335c3c84684ede2293e1f

- Topic 1: Learn to iterate properly
- Examples:
  -  Use for index, item in enumerate(list): to loop over the index of an item and the item at the same time.
  - Use for key, value in dictn.items(): instead of iterating over keys and then getting values as dictn[key].
  - Use for item1, item2 in zip(list1, list2): to iterate over two lists at a time.

In [ ]:
lst = [-1,1,2,4,8,16,32]

for index, item in enumerate(lst):
  print(index, item)

capital_city = {"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}

for key, value in capital_city.items():
  print(key, value)

list1 = lst
list2 = [7,77,777,7777,77777,77777,7777777]

for item1, item2 in zip(list1, list2):
  print(item1, item2)

0 -1
1 1
2 2
3 4
4 8
5 16
6 32
Nepal Kathmandu
Italy Rome
England London
-1 7
1 77
2 777
4 7777
8 77777
16 77777
32 7777777

- Topic 2: Use with statements to automatically close files
- Examples:
  -  with open(file_path, 'w') as file:
  
    file.write('Hello, World!')
- The file is closed automatically.

In [ ]:

with open(file_path, 'w') as file:
    file.write('Hello, World!')
# The file is closed automatically.

- Topic 4: Use f-strings (yea yea we know)
- Examples:
  -  name = input('Enter your name: ')
  - surname = input('Enter your surname: ')
  - print(f'Hello, {name} {surname}')
- Topic 5: Use split() and join()
- If you want to separate a string into a list of substrings, use lst = text.split(separator).
- Use text = separator.join(lst) to merge a list of strings together.
- Examples:
  -  names = ['Olivia', 'Nicholas', 'Violet']
  - text = ', '.join(names)

In [ ]:
names = ['Olivia', 'Nicholas', 'Violet']
text = ', '.join(names)
text

'Olivia, Nicholas, Violet'

- Topic 5: Transform list into set to remove duplicates
- Examples:
  -  cities = ['London', 'Paris', 'London']
  - unique_cities = set(cities)
  - print(cities)
  ---
  - cities = list(cities)
  - print(cities)

In [ ]:
cities = ['London', 'Paris', 'London']
unique_cities = set(cities)

print(cities)
# >> {'London', 'Paris'}

cities = list(cities)
print(cities)

['London', 'Paris', 'London']
['London', 'Paris', 'London']

- Topic 6: Instead of if variable == a or variable == b use if variable in {a, b}
- Examples:
  -  if variable in {a, b}:

      res = do_something(variable)
---
- Learn how to use inline if statements
  - a = 0 if b > 10 else 5
---
- Use or to handle None values
  - Learn that you can use or to set a fallback value to assign in case another variable is None or False.
  -- lst = data or [0, 0, 0]
---
- Instead of asking for permission, ask for forgiveness
 - Example:
 - try:
    - with open(filename, 'w') as file:
      - file.write('Hello, World!')
                                                
  - except FileNotFoundError:
      - print('File does not exist.')

  - except PermissionError:
      - print('You dont have write permission.')

  - except OSError as exc:
      - print(f'An OSError has occurred:\n{exc}')

In [ ]:
b = input()
a = "Same Number" if b == "y" else "Frank"
print(f"Result = {a} \nUsing an inline IF statement. Your input determined this output. Try 'y'.")

y
Result = Same Number
 Using an inline IF statement. Your input determined this output. Try 'y'. Result = Same Number

In [ ]:
items = [item1, item2, item3, item4]

def process_item(item):        # 'process_item'
    item = do_something(item)  #  now does the
    item = do_smth_else(item)  #  processing
    ...                        #  for a single
    return item                #  item.

new_items = [process_item(item)
             for item in items]

In [ ]:
numbers = [1, 3, 4, 5, 7, 9, 2]

try:
    result = next(number for number in numbers
                  if number > 3)

except StopIteration:
    result = None

print(result)

4

##Extra Tips
Here are some secret extra tips, for making it all the way to the end.

1) Assign values to multiple variables at a time or swap them
- Use multiple assignments and commas to give values to more than one variable at a time: a, b, c = 1, 2, 3
- Or easily swap two variables in a single line: a, b = b, a

2) Use all() and any()
- all(a, b, c) returns True if a, b and c are True.
- any(a, b, c) returns True if at least one of a, b or c is True.
- You can use them as conditions in your if statements.


3) Simplify your conditions with intervals or ranges
- Instead of writing separate conditions (if min < value and value < max:):

  - Use intervals: if min < value < max:
  - Or use ranges: if value in range(min, max):
- Keep in mind that min is included in the range(), but max is not.

---
# SQL Reminders

### % Wildcard
- The % wildcard can be used in a LIKE operator pattern to match zero or more unspecified character(s).
- The given query will match any movie that begins with The, followed by zero or more of any characters.
- SELECT name FROM movies WHERE name LIKE 'The%';
### _ Wildcard
- The _ wildcard can be used in a LIKE operator pattern to match any single unspecified character.
- The given query will match any movie which begins with a single character, followed by ove.
- SELECT name FROM movies WHERE name LIKE '_ove';
### Don't forget [Between, Distinct, NULL]
- SELECT distinct address
FROM records
WHERE address IS NOT NULL
and year BETWEEN 1980 AND 1990;
---
### JOINS link: [JOINS link](https://www.datacamp.com/cheat-sheet/sql-joins-cheat-sheet)
---
### Rank
- SELECT v, RANK () OVER ( ORDER BY v ) rank_no FROM sales.rank_demo;
- SELECT * FROM (
	  SELECT
		product_id,
		product_name,
		brand_id,
		list_price,
		RANK () OVER (
			PARTITION BY brand_id
			ORDER BY list_price DESC
		) price_rank
	  FROM
		production.products    ) t
      WHERE price_rank <= 3;
  
  - First, the PARTITION BY clause divides the products into partitions by brand Id.
  - Second, the ORDER BY clause sorts products in each partition by list prices.
  - Third, the outer query returns the products whose rank values are less than or equal to three.
- The RANK() function is applied to each row in each partition and reinitialized when crossing the partition’s boundary.